* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(./img/download\ \(1\).jpg);
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px; 

  background-color: rgba(255, 255, 255, .8);
  font-size: 1.2em;
}

.grid {
    display: grid;
    width: 100%;
    max-width: 800px;

    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    /* background-color: aquamarine;  */
    margin: 0 auto;
}

.card {
    width: 100%;
    aspect-ratio: 3/4;
    background-color: #ccc; 
    border-radius: 5px;
    position: relative;

    transition: all .9s ease;
    transform-style: preserve-3d;

    cursor: pointer;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;

    background-size: cover;
    background-position: center;

    border: 2px solid #333;
    border-radius: 5px;

    transition:  all 500ms ease;
}

.frente {
    /* background-image: url(./img/carta1.jpg); */
    transform: rotateY(180deg);
}

.tras {
    background-image: url(./img/frente.jpg);
    backface-visibility: hidden;
}

.revela_card{
    transform: rotateY(180deg);
}

.disabled_card {
    filter: saturate(0);
    opacity: 0.5;
}
