/* INICIANDO ESTILIZAÇÃO DO FUNDO  */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: #81C0E9;
  background: radial-gradient(circle, rgba(129, 192, 233, 1) 0%, rgb(236, 251, 255) 100%);
  height: 100vh;
}

@font-face {
  font-family: 'Logo';
  src: url('../../../../../frontend/fontes/Logo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titulo';
  src: url('../../../../../frontend/fontes/Título.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Texto';
  src: url('../../../../../frontend/fontes/Texto.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* introdução */

h1#inicio {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4rem;
  z-index: 1;
  text-transform: uppercase;
  font-family: 'Titulo';
  color: #fff;
  letter-spacing: 5px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

#texto_in {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 3px;
  color: #fff;
  font-family: 'Texto';
  padding-top: 5%;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

#conteudo {
  margin-top: 13%;
  color: #000;
  padding: 60px 20px;
  text-align: center;
  min-height: 100vh;
}

