.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
}

.dados i {
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.dados i:hover {
    color: #38a0dd;
    transform: translateY(-2px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    max-height: 1800px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 30px 40px;
    border-radius: 12px;
    height: 150%;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Título do modal */
.modal-content h2 {
    margin-bottom: 25px;
    color: #333;
    font-weight: 700;
    text-align: center;
    font-family: 'Titulo';
}

/* Responsividade */
@media (max-width: 480px) {
    .modal-content {
        padding: 25px 20px;
        width: 95%;
    }
}


/* Botão de fechar */

.close-btn {
    right: 20px;
    background: #ff4757;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.close-btn:hover {
    transform: rotate(90deg);
    background: #ff6b81;
}

.ajuda {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ajuda ol {
    font-family: 'Texto';
}

.ajuda ol li {
    margin-top: 2rem;
    font-size: 18px;
}

.img {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    margin-left: 5rem;
    margin-top: 2rem;
    padding-right: 7rem;
}


#img3 {
    margin-left: 2.5rem;
}

#img2 {
    margin-left: 2rem;
}